<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>  {{ nombre}}  </td>
        <td>  uppercase"  </td>
        <td>  {{ nombre | uppercase }}  </td>
      </tr>
      <tr>
        <td>  {{ nombre}}  </td>
        <td>   lowercase  </td>
        <td>  {{ nombre | lowercase }}  </td>
      </tr>
      <tr>
        <td>  {{ nombre}}  </td>
        <td>   slice:3  </td>
        <td>  {{ nombre | slice:3 }}  </td>
      </tr>
      <tr>
        <td>  {{ nombre}}  </td>
        <td>   slice:0:3  </td>
        <td>  {{ nombre | slice:0:3 }}  </td>
      </tr>
      <tr>
        <td>  {{ arreglo}}  </td>
        <td>   slice:1:5  </td>
        <td>  {{ arreglo | slice:1:5 }}  </td>
      </tr>
      <tr>
        <td>  {{ PI }}  </td>
        <td>   number  </td>
        <td>  {{ PI | number }}  </td>
      </tr>
      <tr>
        <td>  {{ PI }}  </td>
        <td>   number:'3' </td>
        <td>  {{ PI | number:'.3' }}  </td>
      </tr>
      <tr>
        <td>  {{ PI }}  </td>
        <td>   number:'3.0-0' </td>
        <td>  {{ PI | number:'3.0-0' }}  </td>
      </tr>
      <tr>
        <td>  {{ PI }}  </td>
        <td>   number:'1.0-2' </td>
        <td>  {{ PI | number:'1.0-2' }}  </td>
      </tr>
      <tr>
        <td>  {{ salario }}  </td>
        <td>   number:'.2-2' </td>
        <td>  {{ salario | number:'.2-2' }}  </td>
      </tr>
      <tr>
        <td>  {{ a }}  </td>
        <td>   percent </td>
        <td>  {{ a | percent }}  </td>
      </tr>
      <tr>
        <td>  {{ a }}  </td>
        <td>   percent:'2.2-2' </td>
        <td>  {{ a | percent:'2.2-2' }}  </td>
      </tr>
      <tr>
        <td>  {{ salario }}  </td>
        <td>   currency:'USD':'code' </td>
        <td>  {{ salario | currency:'USD':'code' }}  </td>
      </tr>
      <tr>
        <td>  {{ salario }}  </td>
        <td>   currency:'EUR':'code' </td>
        <td>  {{ salario | currency:'EUR':'code' }}  </td>
      </tr>
      <tr>
        <td>  {{ salario }}  </td>
        <td>   currency:'EUR':'symbol-narrow' </td>
        <td>  {{ salario | currency:'EUR':'symbol-narrow' }}  </td>
      </tr>
      <tr>
        <td>  {{ salario }}  </td>
        <td>   currency:'EUR':'4.0-0' </td>
        <td>  {{ salario | currency:'EUR':'symbol-narrow':'4.0-0'}}  </td>
      </tr>


    </tbody>
  </table>

  <h4>Slice</h4>
  <table>
    
  </table>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>  <ul>
          <li *ngFor="let item of arreglo"> {{item}}</li>
        </ul>
        </td>
        <td>  slice5:20  </td>
        <td>  <ul>
          <li *ngFor="let item of arreglo | slice:5:20"> {{item}}</li>
        </ul>  </td>
      </tr>
      <tr>
        <td>  {{heroe}}
        </td>
        <td>  json  </td>
        <td>  {{heroe | json}}
      </tr>
    </tbody>
  </table>

</div>
<br><br><br><br><br><br>